*{
    margin: 0;
}

nav{
    display: flex;
    justify-content: left;
    margin: 1rem;
}
.LOGO {
   max-width: 10rem;
   border: 0;
}

.hero{
    display: flex;
    height: 50rem;
    width: 85rem;
    position: relative;
    justify-content: center;
}
.hero-img{
    z-index: 1;
    width: 100%;
    height: 100%;
  
}
.overlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4; 
  pointer-events: none;
}

.hero-logo{
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    align-self: center;
    width: 50rem;
}

.LOGO-bg{
    height: 23rem;
    width: fit-content;
    background-color: rgb(254, 247, 199);
}
.hero-logo p{
    position: absolute;
    bottom: 3rem;
    width: 70%;
    font-size: 27px;
    z-index: 4;
    align-self: flex-end;

}
.hero-CTA{
    z-index: 3;
    position: absolute;
    top: 80%; 
}
.hero-CTA button{
    background-color:rgb(254, 247, 199);
    font-size: 30px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.hero-search{
  display: flex;
  width: 30rem;
  z-index: 3;
  position: absolute;
  top: 90%;
  align-self: center;
 
}
.search-icon{
    font-size: 25px;
    font-style: italic;
    position: absolute;
    padding: 6px 0px 6px 4px;
    
}

.hero-search input {
  width: 100%;
  padding: 12px 12px 12px 95px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85rem;
    height:40rem;
    padding-top: -20rem; 
}
.about-img{
    width: 100%;
    overflow: hidden;
    opacity: 30%;
}
.about-text{
    position: absolute;
    top: 75rem;
    text-align:  center;
    width: 70rem;
}
.about-text h1{
    font-size: 70px;
}
.about-text p{
    font-size: 30px;
}
.Features{
    background-color:rgb(254, 247, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.Features h1{
    font-size: 70px;
    margin:2rem;
}
.feature{
    width: 50rem;
    height: 85rem;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    background-color: white;
    align-items: center;
}
.feature-intro{
    width: 50rem;
    height:40rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-intro img{
    width:100%;
    z-index: 1;
    overflow: hidden;
}
.overlay2{
  z-index: 2;
  position: absolute;
  width:100% ;
  height:100%;
  background-color: black;
  opacity: 0.4; 
  pointer-events: none;
}
.feature-intro h2{
    position: absolute;
    z-index: 3;
    bottom: 0;
    font-size: 50px;
    color: white;
    letter-spacing: 3px;
    text-align: center;
}
.feature-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.feature-body p{
    font-size: 27px;
    width: 98%;
    text-align: center;
    margin-top: 10px;
}
.key-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 45rem;
    position: relative;
}
.key-1 h3{
    font-size: 45px;
    margin-top: 20px;
}
.key-1 h4{
    font-size: 32px;
    margin-top: 10px;
}
.key-1 p{
    width: 90%;
    text-align: center;
    margin: 10px 0;
}
.key-1-img img{
    width: 13rem;
    height: 8rem;
    margin: 5px;
    margin-top: 2rem;
}
.key-1 button{
    width: 10rem;
    background-color: rgb(254, 247, 199);
    position: relative;
    top: 1rem;
    border: 0;
    margin-bottom: 4rem;
    padding: 0.5rem;
    font-size: 20px;
    border-radius: 0.6rem;
}
.f2-h2-black{
    color: black;
    font-size: 45px;
}
.f2-intro{
    height:25rem;
}
.f3-intro{
    height: 30rem;
}
.features-scroll-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.features-scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 65%;
  background-color: rgb(254, 247, 199);
  gap:5rem;
}

.feature-card {
  flex: 0 0 100%;
  scroll-snap-align: start;
  height: auto;
  padding: 2rem;
  box-sizing: border-box;
}
.dots {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  gap: 8px;
  z-index: 1;
}
.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.dot.active {
  background-color: black;
}

